
/* ----- Reset ---------*/
$container-width: 1200px;
$reset-fontsize: 16px;
$spinner-background:#ffbe07;
$spinner-border-color:#ffffff;
$spinner-borderTop-color:#ff6347;

/* ----- Nawigation ----*/
$nav-background: #ffbe07;
$nav-shadow: #808080;
$nav-logo-font: 'Pacifico', cursive;
$nav-items-font: 'Raleway', sans-serif;
$nav-font-color: #000000;
$nav-active-color: #ffffff;
$nav-hamburger-color: #000000;
$nav-mobile-bg:rgba(000, 000, 000, 0.8);
$nav-mobile-color:#726e6e;
$nav-mobile-hover-color:#ffbe07;
/* ----- Header --------*/
