
/* ----- Reset ---------*/
$container-width: 1200px;
$reset-fontsize: 16px;
$spinner-background:#ffbe07;
$spinner-border-color:#ffffff;
$spinner-borderTop-color:#ff6347;

/* ----- Nawigation ----*/
$nav-background: #ffbe07;
$nav-shadow: #808080;
$nav-logo-font: 'Kalam', cursive;
$nav-items-font: 'Raleway', sans-serif;
$nav-font-color: #000000;
$nav-active-color: #ffffff;
$nav-hamburger-color: #000000;
$nav-mobile-bg:rgba(000, 000, 000, 0.8);
$nav-mobile-color:#726e6e;
$nav-mobile-hover-color:#ffbe07;

/* ----- Header --------*/
$header-main-color: #ffbe07;
$header-title-font: 'Raleway', sans-serif;
$header-name-font: 'Kalam', cursive;
$header-describle-color: #ffffff;

/* ----- About Me ------*/
$about-font:'Raleway', sans-serif;
$about-title-color:#ffbe07;
$about-section-move:#ffbe07;
$about-signature-font:'Mr Dafoe', cursive;
$about-cvBtn-background:#ffbe07;
$about-cvBtn-bgHover:#000000;
$about-cvBtn-border-color:#000000;
$about-cvBtn-color:#000000;
$about-cvBtn-color-hover:#ffbe07;
$about-social-color:#ffbe07;
$about-social-color-hover: #000000;

/* ----- Skills ------*/
$skills-font:'Raleway', sans-serif;
$skills-title-color: #ffffff;
$skills-ico-color:#000000;
$skills-background-color:#ffbe07;
$skills-font-color: #000000;

/* ----- Knwoledge ----*/
$knowledge-font: 'Raleway', sans-serif;
$knowledge-year-bg: #ffbe07;
$knowledge-dot-color: #000000;
$knowledge-dotHover-color: #ffbe07;
$knowledge-main-title-color:#ffbe07;
$knowledge-subtitle-color: #666666;
$knowledge-move-color:#ffbe07;